# Texts under copyright, fetched from the publisher's own free page for private comparison only.
# They are not committed: design/EXEMPLARS.md records the source URL of each, and a resumed session
# re-fetches them. The public-domain texts are committed.
exhalation.txt
cat-pictures-please.txt
lena.txt
stet.txt
welcome-to-your-authentic-indian-experience.txt
